@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Jersey15";
  src: url(../assets/fonts/Jersey15-Regular.ttf);
}

@font-face {
  font-family: "Vazirmatn";
  src: url(../assets/fonts/Vazirmatn.ttf);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  font-family: "Poppins";
}

.btn {
  border-radius: 5px !important;
}

.btn-solid-primary {
  background: transparent !important;
  @apply text-white bg-transparent focus:bg-secondary hover:bg-secondary !important;
}

.navbar .navbar-item {
  @apply hover:text-primary text-white
}

.btn-primary {
  @apply text-white hover:text-white !important;
}
