@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Jersey15";
  src: url(../assets/fonts/Jersey15-Regular.ttf);
}

@font-face {
  font-family: "Vazirmatn";
  src: url(../assets/fonts/Vazirmatn.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  font-family: "Poppins";
}

.btn {
  border-radius: 5px !important;
  &,
  &:hover,
  &:focus {
    outline: none !important;
  }
}

.btn-solid-primary {
  @apply text-white !important;
  &,
  &:hover,
  &:focus {
    background: rgba(158, 158, 158, 0.17) !important;
  }
}

.navbar .navbar-item {
  @apply hover:text-primary text-white;
}

.btn-primary {
  @apply text-white hover:text-white !important;
}

.section-separator {
  border-color: rgb(var(--border) / 10%) !important;
  @apply w-full;
}

.section-container {
  width: 1300px;
  max-width: auto;
  @media screen and (max-width: 1400px) {
    &{
      width: 80%;
    }
  }
}

.toggle-mobile-menu-button {
  display: none;
}

// Response header
@media screen and (max-width: 1200px) {
  .toggle-mobile-menu-button {
    display: block;
  }
  .header .navbar-items {
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000000e0;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 35px;
    padding-top: 65px;
    transition: left 0.3s ease;

    &.show {
      left: 0;
    }

    .navbar-start nav {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .navbar-end {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      margin-top: 20px;

      .navbar-item {
        width: 100%;
      }
    }
  }

  .header .navbar .navbar-end--mobile{
    display: block;
  }

  .navbar {
    padding: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .header .navbar .navbar-end--mobile{
    display: none;
  }
}

.flexible-grid-box {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 1200px) {
    display: grid;
    flex-direction: unset;
    grid-template-columns: 50% 50%;
  }
}