@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Jersey15";
  src: url(../assets/fonts/Jersey15-Regular.ttf);
}

@font-face {
  font-family: "Vazirmatn";
  src: url(../assets/fonts/Vazirmatn.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  font-family: "Poppins";
}

.btn {
  border-radius: 5px !important;
  &,
  &:hover,
  &:focus {
    outline: none !important;
  }
}

.btn-solid-primary {
  @apply text-white !important;
  &,
  &:hover,
  &:focus {
    background: rgba(158, 158, 158, 0.17) !important;
  }
}

.navbar .navbar-item {
  @apply hover:text-primary text-white;
}

.btn-primary {
  @apply text-white hover:text-white !important;
}

.section-separator {
  border-color: rgb(var(--border) / 10%) !important;
  @apply w-full;
}

.section-container {
  width: 1300px;
  max-width: auto;
  @media screen and (max-width: 1400px) {
    &{
      width: 80%;
    }
  }
}

// Response header
@media screen and (max-width: 1200px) {
  .header .navbar nav, .header .navbar-end {
    display: none !important;
  }

  .header .navbar .navbar-end--mobile{
    display: block;
  }

  .navbar {
    padding: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .header .navbar .navbar-end--mobile{
    display: none;
  }
}

.flexible-grid-box {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 1200px) {
    display: grid;
    flex-direction: unset;
    grid-template-columns: 50% 50%;
  }
}