---
import BlankLayout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import LogoTransparent from "../assets/logo.png";
import ExampleCode1 from "../assets/example-code-1.png";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CpuChipIcon from "../components/icons/cpu-chip-icon.astro";
import WwwIcon from "../components/icons/www-icon.astro";
import SparkelsIcon from "../components/icons/sparkles-icon.astro";
import BinaryIcons from "../components/icons/binary-icon.astro";
import ArrowRightIcon from "../components/icons/arrow-right-icon.astro";
import BoltIcon from "../components/icons/bolt-icon.astro";
import FeatherIcon from "../components/icons/feather-icon.astro";
import IntegrationIcon from "../components/icons/integration-icon.astro";
import RocketIcon from "../components/icons/rocket-icon.astro";
---

<BlankLayout>
  <div
    class="hero w-full py-24 flex flex-col gap-7 justify-center items-center"
  >
    <Header />

    <div class="hero-background-shade"></div>
    <Image
      class="hero-logo z-20"
      src={LogoTransparent}
      alt="Cyrus Logo Transparent"
    />

    <div class="flex flex-col z-20 justify-center text-center">
      <h1 class="hero-slogan font-jersey15">
        A programming language for Aliens.
      </h1>
      <h2 class="hero-intro-text text-white">
        Built for developers who demand extraordinary performance. Inspired by
        ancient wisdom, powered by modern technology.
      </h2>
    </div>

    <div
      class="hero-badges z-20 flex flex-row sm:gap-5 gap-3 flex-wrap items-center justify-center"
    >
      <span
        class="badge badge-outline-primary text-[#ff8f5f] bg-[#eb7b4b] bg-opacity-25"
        >Version 0.0.1 - Beta</span
      >
      <span
        class="badge badge-outline-primary text-[#ff8f5f] bg-[#eb7b4b] bg-opacity-25"
        >Made for the Future</span
      >
    </div>

    <div
      class="flex flex-wrap items-center z-20 gap-2 justify-around mx-auto mt-8 px-4 lg:w-9/12 w-full bg-gradient-to-t from-transparent via-black/25 to-transparent py-4"
    >
      <div class="hreo-grid-item">
        <CpuChipIcon class="text-[#eb7b4b] size-5" />
        <span>GCCJIT Powered</span>
      </div>
      <div class="hreo-grid-item">
        <WwwIcon class="text-[#eb7b4b] size-5" />
        <span>Cross-Platform</span>
      </div>
      <div class="hreo-grid-item">
        <SparkelsIcon class="text-[#eb7b4b] size-5" />
        <span>Zero-Cost Abstractions</span>
      </div>
      <div class="hreo-grid-item">
        <BinaryIcons class="text-[#eb7b4b] size-5" />
        <span>Native Performance</span>
      </div>
    </div>

    <div class="flex flex-row z-20 gap-3 mt-5">
      <button class="btn btn-primary text-xs md:text-md">
        Download Cyrus
        <ArrowRightIcon class="ml-2 size-4" />
      </button>
      <button class="btn btn-solid-primary text-xs md:text-md">View Docs</button
      >
    </div>
  </div>

  <div
    id="section1"
    class="flexible-grid-box justify-center overflow-hidden gap-y-12 md:gap-16 mt-12"
  >
    <div class="text-center">
      <BoltIcon />
      <div class="text-md md:text-xl text-white font-bold">Blazing Fast</div>
      <div class="text-xs text-gray-400 mt-2">Optimized for performance</div>
    </div>

    <div class="text-center">
      <FeatherIcon />
      <div class="text-md md:text-xl text-white font-bold">Lightweight</div>
      <div class="text-xs text-gray-400 mt-2">Minimal runtime overhead</div>
    </div>

    <div class="text-center">
      <IntegrationIcon />
      <div class="text-md md:text-xl text-white font-bold">
        Seamless Integration
      </div>
      <div class="text-xs text-gray-400 mt-2">Works seamlessly with C/C++</div>
    </div>

    <div class="text-center">
      <RocketIcon />
      <div class="text-md md:text-xl text-white font-bold">
        Limitless Potential
      </div>
      <div class="text-xs text-gray-400 mt-2">Unlock endless possibilities</div>
    </div>
  </div>

  <div
    id="section2"
    class="section-container justify-center mx-auto mt-20 flex gap-10"
  >
    <div class="mt-10 w-full">
      <h1 class="text-2xl font-bold mb-4">Ancient Wisdom, Modern Power</h1>
      <p class="text-gray-400 leading-10">
        Cyrus is a cutting-edge programming language built on a foundation of
        elegant engineering principles. It's ideal for web applications, game
        development, and AI/ML algorithms.
      </p>

      <div class="flex flex-col md:flex-row gap-3 mt-6">
        <button class="btn btn-primary">Explore Docs</button>
      </div>
    </div>
    <Image
      class="border-2 border-primary rounded-xl"
      src={ExampleCode1}
      alt="Example Cyrus Code"
    />
  </div>

  <hr class="section-separator mt-12 mb-8" />

  <div class="w-full py-10 text-center flex flex-col justify-center">
    <h1 class="font-bold text-xl md:text-5xl mb-5">
      Ready to Begin Your Journey?
    </h1>
    <span class="text-gray-400 px-5"
      >Join the community of developers building the future with Cyrus.</span
    >
    <button class="btn btn-primary mx-auto px-7 mt-8 w-max"
      >Join Commiunity</button
    >
  </div>

  <Footer />
</BlankLayout>

<style lang="scss">
  #section2 {
    flex-direction: row;
    overflow: hidden;
    @media screen and (max-width: 1300px) {
      & {
        flex-direction: column;
      }

      img {
        width: 100%;
      }
    }
    p {
      max-width: 90%;
    }
  }

  .hero {
    position: relative;
    background-image: url(../assets/hero-background.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;

    .hero-background-shade {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 5;
      background: rgb(20, 10, 5);
      background: linear-gradient(
        0deg,
        rgba(20, 10, 5, 0.596) 0%,
        rgba(20, 10, 5, 1) 100%
      );
    }

    .hero-logo {
      @apply block lg:w-48 w-32;
    }

    .hero-intro-text {
      margin-left: auto;
      margin-right: auto;

      @apply px-2 sm:w-10/12 lg:w-9/12 w-full text-sm sm:text-base;
    }
    .hero-slogan {
      background: rgb(245, 245, 245);
      background: linear-gradient(90deg, #f5f5f5 0%, #eb7b4b 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @apply text-wrap w-full lg:text-7xl text-5xl sm:px-4 px-2 leading-9 py-4;
    }

    .hreo-grid-item {
      @apply flex items-center justify-center gap-2 text-xs md:text-sm text-white flex-1 py-6 px-1 lg:px-5 text-nowrap hover:bg-black/20 hover:shadow-xl transition-all duration-200;
    }
  }
</style>
