---
import BlankLayout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import LogoTransparent from "../assets/logo.png";
import ExampleCode1 from "../assets/example-code-1.png";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CpuChipIcon from "../components/icons/cpu-chip-icon.astro";
import WwwIcon from "../components/icons/www-icon.astro";
import SparkelsIcon from "../components/icons/sparkles-icon.astro";
import BinaryIcons from "../components/icons/binary-icon.astro";
import ArrowRightIcon from "../components/icons/arrow-right-icon.astro";
import BoltIcon from "../components/icons/bolt-icon.astro";
import FeatherIcon from "../components/icons/feather-icon.astro";
import IntegrationIcon from "../components/icons/integration-icon.astro";
import RocketIcon from "../components/icons/rocket-icon.astro";
import HeroHeader from "../components/HeroHeader.astro";
---

<BlankLayout>
  <HeroHeader>
    <div
      class="grid lg:grid-cols-2 lg:grid-rows-none grid-cols-1 grid-rows-2 justify-center items-center lg:py-6 py-2"
    >
      <div
        class="z-20 lg:w-10/12 w-full ps-6 flex flex-col items-center justify-center lg:justify-self-end"
      >
        <div
          class="flex flex-col lg:items-start items-center justify-center w-full py-6"
        >
          <Image
            class="hero-logo z-20"
            src={LogoTransparent}
            alt="Cyrus Logo Transparent"
          />

          <h1 class="hero-slogan font-jersey15">
            A programming language for Aliens.
          </h1>
        </div>

        <div class="flex flex-col z-20 justify-center text-center">
          <h2 class="hero-intro-text text-white text-lg">
            Built for developers who demand extraordinary performance. Inspired
            by ancient wisdom, powered by modern technology.
          </h2>
        </div>

        <div
          class="hero-badges z-20 flex flex-row sm:gap-5 gap-3 flex-wrap items-center lg:justify-start justify-center my-4"
        >
          <span
            class="badge badge-outline-primary text-[#ff8f5f] bg-[#eb7b4b] bg-opacity-25"
            >Version 0.0.1 - Beta</span
          >
          <span
            class="badge badge-outline-primary text-[#ff8f5f] bg-[#eb7b4b] bg-opacity-25"
            >Made for the Future</span
          >
        </div>
      </div>

      <div class="z-20 flex flex-col items-center justify-end justify-self-end">
        <div
          class="w-[600px] rounded-s-2xl relative overflow-hidden bg-gradient-to-b from-stone-900 via-[#eb7b4b35] to-transparent"
        >
          <div
            class="bg-gradient-to-t from-stone-900 to-stone-800 text-opacity-70 px-4 py-1 font-mono flex items-center justify-between gap-1"
          >
            <span class="text-stone-400">~/main.cy</span>
            <span class="flex items-center justify-center gap-2">
              <span class="dots"></span>
              <span class="dots"></span>
              <span class="dots"></span>
            </span>
          </div>
          <div class="w-full h-full mask-code border-s-8 border-stone-900">
            <Image
              class="w-full rounded-s-lg"
              src={ExampleCode1}
              alt="Example Cyrus Code"
            />
          </div>

          <div
            class="flex flex-col items-center justify-center w-full absolute bottom-10"
          >
            <button
              class="flex items-center justify-center text-xl hover:text-gray-50 text-gray-300 z-20 w-full text-center py-12 bg-gradient-to-b from-transparent via-black/25 to-transparent"
            >
              Explore more about cyrus
              <ArrowRightIcon class="ml-2 mt-0.5 size-4" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="grid grid-flow-rows lg:grid-cols-4 grid-cols-2 md:grid-rows-1 grid-rows-3 items-start z-20 gap-2 justify-center mx-auto px-4 w-full bg-gradient-to-b from-transparent via-black/75 to-transparent py-6"
    >
      <div class="hreo-grid-item">
        <CpuChipIcon class="text-[#eb7b4b] size-5 flex-none" />
        <span>GCCJIT Powered</span>
      </div>
      <div class="hreo-grid-item">
        <WwwIcon class="text-[#eb7b4b] size-5 flex-none" />
        <span>Cross-Platform</span>
      </div>
      <div class="hreo-grid-item md:col-span-1 col-span-2">
        <SparkelsIcon class="text-[#eb7b4b] size-5 flex-none" />
        <span>Zero-Cost Abstractions</span>
      </div>
      <div class="hreo-grid-item sm:col-span-1 col-span-2">
        <BinaryIcons class="text-[#eb7b4b] size-5 flex-none" />
        <span>Native Performance</span>
      </div>
    </div>
  </HeroHeader>

  <div
    id="section1"
    class="flexible-grid-box justify-center overflow-hidden gap-y-12 md:gap-16 mt-12"
  >
    <div class="text-center">
      <BoltIcon />
      <div class="text-md md:text-xl text-white font-bold">Blazing Fast</div>
      <div class="text-xs text-gray-400 mt-2">Optimized for performance</div>
    </div>

    <div class="text-center">
      <FeatherIcon />
      <div class="text-md md:text-xl text-white font-bold">Lightweight</div>
      <div class="text-xs text-gray-400 mt-2">Minimal runtime overhead</div>
    </div>

    <div class="text-center">
      <IntegrationIcon />
      <div class="text-md md:text-xl text-white font-bold">
        Seamless Integration
      </div>
      <div class="text-xs text-gray-400 mt-2">Works seamlessly with C/C++</div>
    </div>

    <div class="text-center">
      <RocketIcon />
      <div class="text-md md:text-xl text-white font-bold">
        Limitless Potential
      </div>
      <div class="text-xs text-gray-400 mt-2">Unlock endless possibilities</div>
    </div>
  </div>

  <div
    id="section2"
    class="section-container justify-center mx-auto mt-20 flex gap-10"
  >
    <div class="mt-10 w-full">
      <h1 class="text-2xl font-bold mb-4">Ancient Wisdom, Modern Power</h1>
      <p class="text-gray-400 leading-10">
        Cyrus is a cutting-edge programming language built on a foundation of
        elegant engineering principles. It's ideal for web applications, game
        development, and AI/ML algorithms.
      </p>

      <div class="flex flex-col md:flex-row gap-3 mt-6">
        <button class="btn btn-primary">Explore Docs</button>
      </div>
    </div>
  </div>

  <hr class="section-separator mt-12 mb-8" />

  <div class="w-full py-10 text-center flex flex-col justify-center">
    <h1 class="font-bold text-xl md:text-5xl mb-5">
      Ready to Begin Your Journey?
    </h1>
    <span class="text-gray-400 px-5"
      >Join the community of developers building the future with Cyrus.</span
    >
    <button class="btn btn-primary mx-auto px-7 mt-8 w-max"
      >Join Commiunity</button
    >
  </div>

  <Footer />
</BlankLayout>

<style lang="scss">
  #section2 {
    flex-direction: row;
    overflow: hidden;
    @media screen and (max-width: 1300px) {
      & {
        flex-direction: column;
      }

      img {
        width: 100%;
      }
    }
    p {
      max-width: 90%;
    }
  }

  .hero-logo {
    @apply block lg:w-52 w-48;
  }

  .hero-intro-text {
    margin-left: auto;
    margin-right: auto;

    @apply px-2 lg:text-start;
  }
  .hero-slogan {
    background: rgb(245, 245, 245);
    background: linear-gradient(90deg, #f5f5f5 0%, #eb7b4b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @apply text-wrap w-full text-7xl py-4 lg:text-start text-center;
  }

  .hreo-grid-item {
    @apply flex items-center justify-center gap-2 text-sm text-white py-6 px-1 lg:px-5 text-nowrap hover:opacity-70 transition-opacity duration-200;
  }

  .mask-code {
    mask-image: linear-gradient(black, transparent);
  }

  .dots {
    @apply rounded-full bg-stone-700 size-3;
  }
</style>
