<hr class="section-separator" />

<div class="footer text-center w-full px-10 md:px-20 py-7">
  <div class="flex flex-row justify-between">
    <span class="md:text-md text-xs">Licenced under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache Licence, Version 2.0</a>.</span>
  </div>
</div>