<div class="header justify-center flex">
  <div class="container">
    <div class="navbar bg-transparent py-5">
      <div class="navbar-start w-full">
        <a class="navbar-item font-poppins font-bold">Cyrus Lang</a>
        <a class="navbar-item">Blog</a>
        <a class="navbar-item">Install</a>
        <a class="navbar-item">Sponsors</a>
        <a class="navbar-item">Community</a>
        <a class="navbar-item">Documentations</a>
      </div>
      <div class="navbar-end flex gap-3 w-1/3">
        <a class="navbar-item btn btn-solid-primary px-5">Donate ☕️</a>
        <a class="navbar-item btn btn-primary px-5">Get Started</a>
      </div>
    </div>
  </div>
</div>
