---
import NavCrossIcon from "./icons/nav-cross-icon.astro"
import MenuIcon from "./icons/menu-icon.astro"
---

<script>
  (window as any).toggleMobileMenu = () => {
    const node = document.querySelector(".header .navbar-items");

    if (node?.classList.contains("show")) {
      node.classList.remove("show");
    } else {
      node?.classList.add("show");
    }
  };
</script>

<div class="header z-40 justify-center flex">
  <div class="container">
    <div class="navbar flex justify-between shadow-none bg-transparent py-5">
      <div class="flex flex-row w-full">
        <a href="/" class="navbar-item min-w-max font-poppins font-bold"
          >Cyrus Lang</a
        >

        <div class="navbar-items flex w-full">
          <button
            onclick="toggleMobileMenu()"
            class="toggle-mobile-menu-button"
          >
          <NavCrossIcon class="w-5 fill-white hover:fill-primary transition-colors absolute top-6 right-6">
          </button>

          <div class="navbar-start">
            <nav>
              <a class="navbar-item">Blog</a>
              <a class="navbar-item">Install</a>
              <a class="navbar-item">Sponsors</a>
              <a class="navbar-item">Community</a>
              <a class="navbar-item">Documentations</a>
            </nav>
          </div>
          <div class="navbar-end flex gap-3 w-1/3">
            <a class="navbar-item btn btn-solid-primary px-5">Donate ☕️</a>
            <a class="navbar-item btn btn-primary px-5">Get Started</a>
          </div>
        </div>
      </div>

      <div class="navbar-end--mobile">
        <button onclick="toggleMobileMenu()">
          <MenuIcon class="fill-white w-6 cursor-pointer" />
        </button>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .header {
    position: absolute;
    top: 0;
    width: 100%;
  }
</style>
