<script>
  (window as any).toggleMobileMenu = () => {
    const node = document.querySelector(".header .navbar-items");

    if (node?.classList.contains("show")) {
      node.classList.remove("show");
    } else {
      node?.classList.add("show");
    }
  };
</script>

<div class="header z-40 justify-center flex">
  <div class="container">
    <div class="navbar flex justify-between shadow-none bg-transparent py-5">
      <div class="flex flex-row w-full">
        <a href="/" class="navbar-item min-w-max font-poppins font-bold"
          >Cyrus Lang</a
        >

        <div class="navbar-items flex w-full">
          <button
            onclick="toggleMobileMenu()"
            class="toggle-mobile-menu-button"
          >
            <svg
              class="w-5 fill-white hover:fill-primary transition-colors absolute top-6 right-6"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <path
                d="M22.706,1.731c-.424-.711-1.345-.941-2.056-.521-.197,.118-4.323,2.597-8.65,6.738C7.673,3.807,3.547,1.328,3.35,1.211c-.71-.422-1.631-.191-2.056,.521-.424,.712-.191,1.632,.521,2.057,.045,.027,3.993,2.398,8.082,6.302-4.691,5.092-7.559,10.477-7.681,10.709-.387,.732-.107,1.64,.625,2.026,.224,.118,.463,.174,.699,.174,.539,0,1.059-.29,1.328-.8,.028-.053,2.761-5.185,7.132-9.964,4.359,4.767,7.104,9.912,7.132,9.965,.269,.509,.79,.799,1.328,.799,.236,0,.476-.056,.699-.174,.732-.388,1.013-1.294,.625-2.026-.122-.232-2.99-5.617-7.681-10.709,4.08-3.893,8.038-6.276,8.083-6.303,.711-.425,.943-1.345,.52-2.057Z"
              ></path>
            </svg>
          </button>

          <div class="navbar-start">
            <nav>
              <a class="navbar-item">Blog</a>
              <a class="navbar-item">Install</a>
              <a class="navbar-item">Sponsors</a>
              <a class="navbar-item">Community</a>
              <a class="navbar-item">Documentations</a>
            </nav>
          </div>
          <div class="navbar-end flex gap-3 w-1/3">
            <a class="navbar-item btn btn-solid-primary px-5">Donate ☕️</a>
            <a class="navbar-item btn btn-primary px-5">Get Started</a>
          </div>
        </div>
      </div>

      <div class="navbar-end--mobile">
        <button onclick="toggleMobileMenu()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="fill-white w-6 cursor-pointer"
            ><path
              d="M0,4c0-.55,.45-1,1-1H18c.55,0,1,.45,1,1s-.45,1-1,1H1c-.55,0-1-.45-1-1Zm18,15H1c-.55,0-1,.45-1,1s.45,1,1,1H18c.55,0,1-.45,1-1s-.45-1-1-1Zm5-8H6c-.55,0-1,.45-1,1s.45,1,1,1H23c.55,0,1-.45,1-1s-.45-1-1-1Z"
            ></path></svg
          >
        </button>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .header {
    position: absolute;
    top: 0;
    width: 100%;
  }
</style>
