---
import Header from "../components/Header.astro";
import BlankLayout from "./BlankLayout.astro";
---

<BlankLayout>
  <div class="flex min-h-screen flex-col bg-black text-white">
    <slot />
  </div>
</BlankLayout>
